footer {
    background-color: #ffffff; /* เปลี่ยนพื้นหลังเป็นสีขาว */
    color: #000000; /* เปลี่ยนข้อความเป็นสีดำ */
  }
  
  footer a {
    color: #000000; /* เปลี่ยนสีของลิงก์เป็นสีดำ */
  }
  
  footer a:hover {
    color: #007bff; /* เปลี่ยนสีของลิงก์เมื่อ Hover เป็นสีน้ำเงิน */
  }
  